.tab-content > .active {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  justify-content: center;
}

.nav-tabs .nav-link {
  font-size: 17px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 0.5rem;
  color: green;
}

.nav-tabs {
  border-bottom: 3px solid pink !important;
}
