.Cl-SideBar {
  padding-top: 20px;
}

.cardTitleTex {
  text-align: center;
  /* color: red; */
}

.cardBotton {
  /* border: 5px solid yellow; */
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.btn {
  /* border: 2px solid grey; */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.modalsTitle {
  color: darkblue;
  text-align: center;
  padding-left: 147px;
}

.modalsFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.buttonModal {
  width: 150px;
}
